<footer>
    <div class="socialMedia">
        <i class="fa-brands fa-instagram"></i>
        instagram
        <i class="fa-brands fa-facebook"></i>
        facebook
        <i class="fa-brands fa-youtube"></i>
        youtube
    </div>
    <div class="contakts">
        <h3>owner: Reni</h3>
        <h3>compani: reniOOD</h3>
        <h3>made by: Ekaterina G.</h3>
        <h4>email@test.bg</h4>
    </div>
</footer>
</body>
</html>